[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[packages]

django = "==2.0.2"
requests = "*"
pymysql = "*"
markdown = "*"
django-pagedown = "*"


[dev-packages]

