{% extends 'base.html' %}

{% load myfilters %}

{% block content %}
<div class="flex-center">
    <div class="container">
        <div class="flex-center col-xs-4">
            <div class="unit-1-2 unit-1-on-mobile">
                <h3>重置密码</h3>
                <form class="form" action="{% url 'password_reset' %}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                            <label for="exampleInputEmail1">
                                {{ form.email.label }}</label>
                            {{ form.email | add_class:"form-control" }}
                            {{ form.email.errors }}
                            {% if form.email.help_text %}
                                <p class="help text-small
                                text-muted">
                                    {{ form.email.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    <button type="submit" class="btn btn-primary btn-block">提交</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}