{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet"
          href="{% static "bootstrap/css/bootstrap-theme.css" %}">
    <link rel="stylesheet"
          href="{% static "bootstrap/css/bootstrap.css" %}">

    <style>
        {#导航条样式#}
        body {
            padding-top: 70px;
        }
    </style>
    {% block style %}
    {% endblock %}
</head>
<body>
<div>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5" aria-expanded="false">
            <span class="sr-only">BBLOG</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">BBLOG</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
            <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'index' %}">Home</a></li>
{#            <li><a href="#about">About</a></li>#}
{#            <li><a href="#contact">Contact</a></li>#}
          </ul>
          <p class="navbar-text navbar-right">
            {% if user.is_authenticated %}
                你已登录，欢迎你：<a href=
                "{% url 'app_users:user_home' user.username %}"
            >{{ user.username }}</a>
                    <a href="{% url 'logout' %}?next={{ request.path }}">注销登录</a>
                    <a href="{% url 'password_change' %}?next
                    ={{ request.path }}">修改密码</a>
            {% else %}
                你还没有登录，请
                        <a href="{% url 'login' %}?next={{ request.path }}">登录</a>
                    或者
                        <a href="{% url 'app_users:register' %}">注册</a>
            {% endif %}
          </p>
        </div>
      </div>
    </nav>


    <div>

        {% block content %}

        {% endblock %}

    </div>
</div>


<script src={% static "jquery/jquery-3.3.1.js" %}></script>
<script src={% static "bootstrap/js/bootstrap.js" %}></script>
</body>
</html>