{% extends 'base.html' %}

{% load static %}

{% block heads %}
{% endblock heads %}

{% block content %}
    <div class="container" id="userInfo">
        <h2>{{ this_user.username }}</h2>
        <div id="article">
            <div class="page-header">
                <h1>文章</h1>
            </div>
            <div class="jumbotron">
                {% for article in articles %}
                    <div>
                        <h2>
                            <a href="{% url 'article' article.title %}">{{ article.title }}</a>
                        </h2>
                        {% if article.updated_time %}
                            <p>{{ article.updated_time }}</p>
                        {% endif %}
                        {% if article.category %}
                            <p>{{ article.category }}</p>
                        {% endif %}
{#                        {% if article.tags %}#}
{#                            {% for tag in article.tags %}#}
{#                                <p>{{ tag.word }}</p>#}
{#                            {% endfor %}#}
{#                        {% endif %}#}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="comment">


        </div>


    </div>

{% endblock %}

{% block script %}
    <script>

    </script>

{% endblock %}