{% extends 'base.html' %}

{% load static %}

{% block heads %}
{% endblock heads %}

{% block content %}
    <div class="container" id="userInfo">
        <h2>{{ this_user.username }}</h2>
        <div id="article">
            <h3>文章</h3>
            <div>
                {% for article in articles %}
                    <div>
                        <h4>
                            <a href="{% url 'article' article.title %}">{{ article.title }}</a>
                        </h4>
                        <p>{{ article.updated_time }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="comment">


        </div>


    </div>

{% endblock %}

{% block script %}
    <script>

    </script>

{% endblock %}